node_modules
dist
out
.DS_Store
.eslintcache
.vscode
downloads
build
release
resources/bin/ffmpeg
resources/bin/ffmpeg.exe
resources/bin/yt-dlp*
# Keep essentials folder if used temporarily, but better to ignore final binaries
*.log*
